.req-form {
    width: 40%;
    margin-top: 20px;
    position: absolute;
    
    margin-top: 100px;
}



@media (max-width: 1000px) {
    .req-form {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

@media (max-height: 700px) {
    .req-form {
        top: 310px;
    }
}

.form-control {
    border-radius: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #CCCCCC;
    height: 50px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.custom-select:focus {
    border: 2px solid black;
    outline: none !important;
}

.custom-select {
    border-radius: 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #CCCCCC;
    height: 50px;
    outline: none !important;
}

.custom-select{
    border: 2px solid black;
}

#shoe-select {
    width: 49%;
    float: right;
}

#choice-select {
    margin-bottom: 10px;
    float: right;
}

#gender-select {
    width: 49%;
}

#img-btn {
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

.sect-blk {
    width: 100%;
    background-color: #2b2c3e;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.sect-blk-bool {
    width: 100%;
    background-color: #2b2c3e;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: 10px;
    border-radius: 10px;
    float: left;
}

.bool-desc {
    padding-top: 5px;
    color: black;
    padding-left: 10px;
    padding-top: 1px;
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
}

.cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.cbx:not(:last-child) {
    margin-right: 6px;
}

.cbx:hover {
    background: rgba(0, 119, 255, 0.06);
}

.cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.cbx:hover span:first-child {
    border-color: #07f;
}

.inp-cbx {
    position: absolute;
    visibility: hidden;
}

.inp-cbx:checked+.cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #223254;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    body {
        width: auto;
        display: inherit;
        padding: 20px;
    }

    .cbx {
        width: 100%;
        margin-bottom: 4px;
        display: inline-block;
    }
}

@-moz-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


#req-form-fName {
    width: 49%;
    float: left;
    margin-bottom: 10px;
}

#req-form-lName {
    width: 49%;
    float: right;
    margin-bottom: 10px;
}

#req-form-desc {
    height: 200px;
    margin-bottom: 10px;
}



#form-sbmt-btn {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}

.info-btn {
    font-weight: bold;
    margin-top: 0px;
    margin-left: 5px;
}

#req-form-shoe-name {
    margin-top: 0px !important;
}

.custom-file-input{
    opacity: 1 !important;
}