{% extends 'users/base.html' %}

{% block styles %}
<link rel='stylesheet' href='../../static/users/assets/css/emails.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

{% endblock styles %}

{% block content %}


<div class='form-blk'>
    <center>
        <h1 class='text-xl'>Specify a reason for denial</h1>
    </center>
    <form method="post" action="">
        {% csrf_token %}
        {{form.message}}
        <button type="submit" id='req-sbmt' class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('#header-text').html("Order Denial")
    });
</script>


{% endblock content %}