{% extends "users/base.html" %}

{% block styles %}
<link rel='stylesheet' href='../../static/users/assets/css/display.css'>
{% endblock styles %}

{% block content %}
<div class='left-sect'>
    <div class='title-content'>
        <h1 class='shoe-title'>Nike <br> Air Force Ones</h1>
    </div>
</div>
<div class='info-blk'>
    <div class='price-blk'>
        <p class='prc-txt'>$40</p>
    </div>
    <div class='sizes-blk'>
        <p class='prc-txt'>Available Sizes</p>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>



    {% endblock content %}