{% extends "users/base.html" %}

{% block styles %}
<link rel="stylesheet" href='../../static/users/assets/css/gallery.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script src="../../static/users/assets/js/transition.min.js"></script>
<script src="../../static/users/assets/js/zoom.min.js"></script>
<link href="../../static/users/assets/css/zoom.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="responsive">
  <div class="grid" style='margin-top: 10px;'>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe1.jpg" id='img1' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe2.jpg" id='img2' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe3.jpg" id='img3' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe4.jpg" id='img4' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe5.jpg" id='img5' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe6.jpg" id='img6' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe7.jpg" id='img7' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe8.jpg" id='img8' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe9.jpg" id='img9' data-action="zoom"/>
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe10.jpg" id='img10' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe11.jpg" id='im11' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe12.jpg" id='img12' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe13.jpg" id='img13' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe14.jpg" id='img14' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe15.jpg" id='img15' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe16.jpg" id='img16' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe17.jpg" id='img17' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe18.jpg" id='img18' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe19.jpg" id='img19' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe20.jpg" id='img20' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe21.jpg" id='img21' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/sho2.jpg" id='im22' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe23.jpg" id='img23' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe24.jpg" id='img24' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe25.jpg" id='img25' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe26.jpg" id='img26' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe27.jpg" id='img27' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe28.jpg" id='img28' data-action="zoom" />
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe30.jpg" id='img30' data-action="zoom"/>
    </div>
    <div class="grid--item">
      <img class='grid-img' src="../../static/users/assets/images/shoe31.jpg" id='img31' data-action="zoom" />
    </div>
  </div>
<script>
  $(document).ready(function(){
       $('#header-text').html("Gallery")
   });
  </script>

  <script src="../../static/users/assets/js/gridify.min.js"></script>
  <script src="../../static/users/assets/js/galleryAnimation.js"></script>


  {% endblock content %}