{% extends 'users/base.html' %}


{% block styles %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<link rel='stylesheet' href='../../static/users/assets/css/list.css'>
<link rel='stylesheet' href='../../static/users/assets/css/tailwind.css'>

{% endblock styles %}

{% block content %}
<center>
  <div class="py-4 w-11/12">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <div class="flex flex-row bg-white shadow-md transition-all hover:shadow-xl rounded-xl p-4 ">
          <div class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-yellow-100 text-blue-500">

            <svg class='stroke-current text-yellow-400' xmlns="http://www.w3.org/2000/svg" width="32" height="32"
              viewBox="0 0 24 24" fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
              <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
              <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg> </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Requested</div>
            <div class="font-bold text-lg">
              {{requested}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <div class="flex flex-row bg-white transition-all shadow-md hover:shadow-xl rounded-xl p-4">
          <div class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-blue-100 text-green-500">

            <svg class='stroke-current text-blue-500' xmlns="http://www.w3.org/2000/svg" fill="none" width=28 height=28
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Accepted</div>
            
            <div class="font-bold text-lg">{{accepted}}</div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <div class="flex flex-row bg-white transition-all shadow-md hover:shadow-xl rounded-xl p-4 ">
          <div class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-red-100 text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Denied</div>
            <div class="font-bold text-lg">{{denied}}</div>
          </div>
        </div>
      </div>
      <div class="col-span-12 sm:col-span-6 md:col-span-3">
        <div class="flex flex-row bg-white transition-all shadow-md hover:shadow-xl rounded-xl p-4">
          <div class="flex items-center justify-center flex-shrink-0 h-12 w-12 rounded-xl bg-green-100 text-green-500">
            <svg class='stroke-current text-green-600' width="24" height="24" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="#00d13b">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
            </svg>
          </div>
          <div class="flex flex-col flex-grow ml-4">
            <div class="text-sm text-gray-500">Completed</div>
            <div class="font-bold text-lg">{{completed}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
<center>
  <div class="flex flex-col w-11/12">
    <div class="-my-2 sm:-mx-6 lg:-mx-8  rounded-lg">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider ">
                  Name • Email
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Shoe
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Order Number
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only"></span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 ">
              {% for product in product %}
              {% if not product.archived %}
              <tr class='transition-all hover:bg-gray-100 hover:m-5'>
                <td class="py-4 whitespace-nowrap ">
                  <div class="flex items-center">

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        {{product.first_name.capitalize}} {{product.last_name.capitalize}}
                      </div>
                      <div class="text-sm text-gray-500">
                        {{product.email}}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">

                    {{product.shoe_name}}

                  </div>

                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {% if not product.denied and not product.accepted and not product.completed %}
                  <span
                    class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-black">
                    Requested
                  </span>
                  {% endif %}
                  {% if product.accepted %}
                  <span
                    class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-black">
                    Accepted
                  </span>
                  {% endif %}
                  {% if product.denied %}
                  <span
                    class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-black">
                    Denied
                  </span>
                  {% endif %}
                  {% if product.completed %}
                  <span
                    class="px-3 py-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-black">
                    Completed
                  </span>
                  {% endif %}

                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{product.orderNumber}}

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <button onclick='window.location.href=href="{% url 'order-detail' product.orderNumber %}"' 
                    class="transition-all h-10 items-center px-3 font-bold text-black hover:text-white hover:bg-black rounded-lg hover:shadow-lg hover:m-4 focus:bg-gray-700">View Order</button>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</center>
<br>
<center>
  <a href="{% url 'archivedList' %}">View Archived Orders</a>
</center>

<br>
<style>
  label {
    margin-top: 6px !important;
    margin-bottom: 0 !important;
  }

  @media (max-width: 840px) {

    #req-title {
      text-align: center;
      margin-left: 0;
    }

    .requested-blk {
      margin-top: 170px;
    }

    .cbx-blk {
      top: 200px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      margin-bottom: 5px !important;
    }

    .inner-blk {
      display: inline-block;
    }
  }
</style>
<script>
  $(document).ready(function () {
    $('#header-text').html("Orders")
  });
</script>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js'></script>
{% endblock content %}